.footer .list-social__link {
    text-decoration: none;
    padding: 0;
    gap: 2px;
}

.footer .list-unstyled.list-social, .footer .list-payment {
    gap: 8px;
}

.footer span.footer-social {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.footer .list-payment__item {
    padding: 0;
}

.footer .footer-block--newsletter {
    margin: 0 0 32px;
}

.footer .list-payment, .footer .footer__payment {
    margin: 0;
}

.template--page\.contact .banner__heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    color: #FFFFFF;
}
.template--page\.contact .page-width--narrow {
    max-width: 42.6rem;
}

.template--page\.contact  .contact__fields{
    grid-template-columns: auto;
}

.template--page\.contact .contact__button .button {
    width: 100%;
}

.template--page\.contact .rich-text__wrapper {
    width: 41.5%;
}

.template--page\.contact .contact .field {
    margin-bottom: 2.4rem;
}

.template--page\.contact .contact__button {
    margin-top: 0;
}

.footer .footer-block__heading, .footer .footer-block__details-content .list-menu__item--link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.footer .footer-block__details-content .list-menu__item--link{
    font-weight: 500;

}

.template--page\.contact .section-multicolumn-wrapper li.multicolumn-list__item.grid__item {
    width: calc(20% - 120px);
    max-width: 100%;
}
.template--page\.contact .multicolumn-card__info .inline-richtext{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.template--page\.contact .multicolumn-card__info .rte {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 1.2rem;
} 

.navigation .header__submenu {
    background: bottom;
    top: 23px;
    max-width: 100%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navigation #Details-HeaderMenu-2 {
    position: relative;
    display: inline-block;
}

.navigation .list-menu {
    align-items: center;
}

.navigation .list-menu li:hover .header__submenu {
    display: block;
    transition: 0.5s all ease-in-out;
}
.review_content {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
.tesimonials-title {
    text-align: center;
}

@media screen and (min-width: 750px){
    .footer__payment {
        margin-top: 0rem;
    }
    
}

@media screen and (max-width: 989px) {
    .footer .footer__content-top .grid {
        column-gap: 2rem;
        row-gap: 4rem;
    }
    
    .footer .grid--4-col-tablet .grid__item {
        width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 2);
    }

    header.header {
        grid-template-columns: 32% 34% 30% 4%;
    }
}

@media screen and (max-width: 749px) { 
    .footer .footer_inner_wrapper{
        flex-wrap: wrap;
    }
    .footer .footer_inner_wrapper .footer__content-top {
        width: 100%;
        order: unset;
        padding: 0;
    }
    .footer .footer_inner_wrapper .footer__content-bottom {
        width: 100%;
    }
    /* .footer .footer-block.grid__item:first-child {
        margin-top: 40px;
    } */
    .footer .footer-block--newsletter {
        align-items: flex-start;
        margin-bottom: 16px;
    }
    .footer .footer__localization:empty+.footer__column {
        padding: 0;
    }
    .footer .footer__content-bottom-wrapper{
        justify-content: flex-start;
    }
    .footer .list-payment{
        padding-top: 0;
    }
    .footer .footer__content-top .grid   {
        display: flex;
        row-gap: 0rem;
    }
    .footer .footer_inner_wrapper.page-width {
        padding: 6rem 2.5rem;
    }
    .footer .footer-block.grid__item {
        margin: 0;
    }

}