.text-with-image_wrapper {
    display: grid;
    --text-bloc-width: 35%;
    grid-template-columns: var(--text-bloc-width) calc(100% - var(--text-bloc-width));
    align-items: center;
}

.mian-slider_wrapper .carousel-cell {
    width: 50%;
    margin-right: 8px;
}

.carousel-cell img {
    width: 100%;
}

.about-content {
    width: 472px;
    max-width: 100%;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    .mian-slider_wrapper .carousel-cell {
        width: 50%;
        margin-right: 0;
    }
    .text-with-image_wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }
    

    .mian-content_wrapper,
    .mian-slider_wrapper {
        width: 100%;
    }

    .text-with-image_wrapper,
    .section-multicolumn-wrapper ul.multicolumn-list {
        flex-wrap: wrap;
        gap: 0;
    }

    .carousel-cell img {
        width: 100%;
        object-fit: cover;
    }

    .section-multicolumn-wrapper li.multicolumn-list__item.grid__item {
        width: 100%;
        max-width: 100%;
    }

    .about-content {
        padding: 41px 24px 30px;
        width: 100%;
    }

    .main-title {
        margin: 0;
    }
}